body
{
	font-size: 12px;
	font-family: "Roboto";
}

h2
{
	font-size: 55px;
	font-family: "Myriad Pro";
	text-align: center;
}

h3
{
	font-size: 24px;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	text-align: center;
}

.clearfix::after 
{
  content: "";

  display: table;
  clear: both;
}

.header
{
	background-color: #f1f0ed;
	margin-bottom: 80px;
}

.header-menu
{
	/*background-color: #ca35b8;*/
	width: 1160px;
	margin: 0 auto;
	padding: 0px 20px;
}

.header-main
{
	/*background-color: #76c13e;*/
	width: 1160px;
	margin: 0 auto;
	padding: 0px 20px;
}

.header-menu-logo
{
	float: left;
	width: 360px;
	padding-top: 45px;
}

.header-menu-navigation
{
	float: left;
	width: 640px;
	padding-top: 45px;
}

.header-menu-box
{
	float: right;
	width: 160px;
	padding-top: 45px;
}

.header-main-text
{
	float: left;
	width: 380px;
	margin-right: 20px;
}

.header-menu-picture
{
	float: right;
	width: 760px;
}

.user
{
	/*background-color: #85f00f;*/
	background-color: white;
}

.user-menu,
.user-about,
.user-projects
{
	/*background-color: #5ea28a;*/
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0px 20px;
}

.user-menu-block
{
	float: left;
	width: 300px;
	margin-right: 100px;
}

.user-menu-block:last-child
{
	margin-right: 60px;
}

.user-about-store
{
	float: left;
	width: 660px;
	margin-right: 140px;
}

.user-about-plus
{
	float: right;
	width: 360px;
}

.footer
{
	/*background-color: #1ce3cb;*/
	margin-top: 80px;
}

.footer-adress,
.footer-social
{
	/*background-color: #a64db3;*/
	width: 1160px;
	margin: 0 auto;
	padding: 0px 20px;
}

.footer-adress-contact
{
	float: left;
	width: 320px;
	margin-right: 360px;
	padding-top: 55px;
	padding-bottom: 55px;
}

.footer-adress-logo
{
	padding-top: 90px;
}

.footer-social-btn
{
	float: left;
	width: 280px;
	margin-right: 120px;
}

.footer-social-sale
{
	float: right;
	width: 600px;
}

/*Каталог*/
.user-form
{
	background-color: #c23d54;
	float: left;
	width: 260px;
	margin-left: 150px;
	margin-right: 120px
}

.user-sort
{
	background-color: #cbd827;
	float: right;
	width: 780px;
	margin-bottom: 25px;
	margin-right: 150px;
}

.user-photo
{
	background-color: #25adda;
	float: right;
	width: 780px;
	margin-right: 150px;
}

.user-page
{
	clear: both;
	text-align: center;
}

.user-photo-sedona,
.user-photo-pink,
.user-photo-dorodinsky,
.user-photo-mishka,
.user-photo-a,
.user-photo-kvast
{
	display: inline-block;
	width: 360px;
	vertical-align: top;
}

.user-photo-sedona-price
{
	float: left;
	margin-right: auto;
	margin-right: auto;
	margin-bottom: 100px;
}
