body
{
	font-size: 12px;
	font-family: "Roboto";
}

h2
{
	font-size: 55px;
	font-family: "Myriad Pro";
	text-align: center;
}

h3
{
	font-size: 24px;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	text-align: center;
}

*/*
{
	box-sizing: border-box;
}

*before
{
	box-sizing: border-box;
}

*after
{
	box-sizing: border-box;
}
*/

.clearfix::after 
{
  content: "";

  display: table;
  clear: both;
}

.container
{
	/*background-color: #f1f0ed;*/
	width: 1160px;
	margin: 0 auto;
	padding: 0 140px;
}

.header-menu
{
	margin-bottom: 80px;
}

.header-menu-logo
{
	float: left;
	width: 160px;
	padding-top: 45px;
	margin-right: 200px;
}

.header-menu-navigation
{
	float: left;
	width: 640px;
	padding-top: 45px;
}

.header-menu-box
{
	float: right;
	width: 160px;
	padding-top: 45px;
}

.header-main
{
	margin-bottom: 80px;
}

.header-main-text
{
	float: left;
	width: 380px;
	margin-right: 20px;
}

.header-menu-picture
{
	float: right;
	width: 760px;
}

.user-menu
{
	margin-bottom: 80px;
}

.user-menu-block
{
	float: left;
	width: 300px;
	margin-right: 100px;
}

.user-menu-block:last-child
{
	float: right;
	width: 300px;
	margin-right: 60px;
}

.user-about
{
	margin-bottom: 80px;
}

.user-about-store
{
	float: left;
	width: 660px;
}

.user-about-plus
{
	float: right;
	width: 360px;
}

.user-about-plus-procent ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-about-plus-procent li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	vertical-align: top;
}

.user-about-plus-procent li:last-child
{
	margin-right: 0px;
}

.user-projects ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0px;
}

.user-projects li
{
	display: inline-block;
	width: 260px;
	margin-right: 40px;
	vertical-align: top;
}

.user-projects li:last-child
{
	margin-right: 0px;
}

.footer
{
	margin-top: 80px;
}

.footer-adress
{
	margin-bottom: 60px;
}

.footer-adress-contact
{
	float: left;
	width: 320px;
	padding-top: 55px;
	padding-bottom: 55px;
}

.footer-adress-logo
{
	float: right;
	margin-right: 355px;
	padding-top: 90px;
}

.footer-social-sale
{
	margin-bottom: 60px;
}

.footer-social-btn
{
	float: left;
	width: 260px;
	margin-right: 140px;
}

.footer-social-sale
{
	float: right;
	width: 600px;
}

/*Каталог*/

.main
{
	float: left;
	width: 760px;
}

.user-form
{
	float: left;
	width: 260px;
	margin-right: 140px;
}

.user-sort
{
	float: left;
	width: 760px;
	margin-bottom: 60px;
}

.user-market
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0px;
}

.user-market li
{

	display: inline-block;
	margin-right: 40px;
	width: 360px;
	vertical-align: top;
	font-size: 12px;
}

.user-market li:nth-child(even)
{
	margin-right: 0px;
}

.user-page
{
	clear: both;
	text-align: center;
}